.photo-grid {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
	max-width: 1280px;
	gap: 16px;
	padding: 0 48px;
	width: 100%;
	box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
		gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
		padding: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
		padding: 0 16px;
		gap: 12px;
    }
}